<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <button id="startBtn" onclick="init();" class="btn">Start Game!</button>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <canvas id="snakeCanvas" width="600" height="500"></canvas>
        <div class="col-sm"></div>
    </div>
    <div class="row d-flex justify-content-center">
        <div id="scoreCard" class="card">
            <div class="card-body">
                <p class="card-title text-center">
                    Scoreboard
                </p>
                <hr />
                <div id="scoreCountCard" class="card">
                    <div class="card-body">
                        <span id="appleCount">applecount: </span>
                    </div>
                </div>
                <div id="highScoreCard" class="card">
                    <div class="card-body">
                        <span id="highScore">Highscore: </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <script type="text/javascript" src="/assets/js/post.js"></script> --}}