<article class="container">
    <section id="highScoreSection">
        <h4 id="highscoreTitle" class="text-center">High Scores!</h4>
        <section id="innerScoreWrap">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <p class="placeHolder">1st</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <p class="placeHolder">2st</p>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <p class="placeHolder">3st</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        {{#each players}}
                        <div class="col-4 d-flex justify-content-center">
                            <div class="playerWrap">
                                <p class="scoreName">{{name}}: </p>
                                <p class="score"> {{score}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    </section>

    {{!-- score board section --}}
    <section id="scoreBoardWrap">
        <div class="scoreCard">
            <span id="appleCount">Score Count: 0</span>
        </div>
        <div class="scoreCard">
            <span id="highScore">Previous Score: 0</span>
        </div>
    </section>

    {{!-- game center where the magic happens --}}
    <div class="row d-flex justify-content-center">
        <div id="snakeWrap" class="row d-flex justify-content-center">
            <canvas id="snakeCanvas" width="700" height="600"></canvas>
            <button id="startBtn" onclick="startGame();" class="btn">Start Game!</button>
            <h3 id="timer">3</h3>
            <p id="loseText">You Lose <img id="loseImg" alt="lose image" src="/assets/images/cry.gif" /></p>
        </div>
    </div>
    
    {{!-- D-PAD for when on a mobile device --}}
    <section id="dPadWrap">
        <nav class="d-pad">
            <a id="upBtn" class="up" href="#"></a>
            <a id="rightBtn" class="right" href="#"></a>
            <a id="downBtn" class="down" href="#"></a>
            <a id="leftBtn" class="left" href="#"></a>
        </nav>
    </section>

    {{!-- button to view the score stats --}}
    <div class="d-flex justify-content-center">
        <!-- Button trigger modal -->
        <button id="statsBtn" type="button" data-toggle="modal" data-target="#statsModal">
            View Stats
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="statsModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statsModal">Score Stats</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <span id="allPlayers"></span>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</article>