<div class="container">
    <div class="row d-flex justify-content-center mt-1">
        <button id="startBtn" onclick="init();" class="btn">Start Game!</button>
    </div>
    <div>
        <div class="row d-flex justify-content-center mt-1">
            <div id="scoreCountCard" class="card m-1">
                <div class="card-body">
                    <span id="appleCount">Score Count: 0</span>
                </div>
            </div>
            <div id="highScoreCard" class="card m-1">
                <div class="card-body">
                    <span id="highScore">High Score: 0</span>
                </div>
            </div>
        </div>
    </div>
    <div id="snakeWrap" class="row d-flex justify-content-center">
        {{!-- <div class="col-6"> --}}
        <canvas id="snakeCanvas" width="700" height="600"></canvas>
        {{!-- </div> --}}
        {{!-- <div class="col"></div> --}}

    </div>
    <p id="highscoreTitle" class="text-center">High Scores!</p>
    <div class="d-flex justify-content-center">
        <table class="table">
            <thead id="tableHead" class="thead">
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Second</th>
                    <th scope="col">Third</th>
                    <th scope="col">Fourth</th>
                    <th scope="col">Fifth</th>
                    <th scope="col">Sixth</th>
                    <th scope="col">Seventh</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each Player}}
                    <td>
                        <div class="row">
                        <p id="scoreName">{{name}}: </p><p id="score"> {{score}}</p>
                        </div>
                    </td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</div>