#body {
    background-color: rgb(1, 27, 58);
    background-image: url("/assets/images/mainbg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* game wrap */

#snakeWrap {
    position: relative;
    width: 700px;
    height: 600px;
}

/* game platform style */

#snakeCanvas {
    background-color: rgb(24, 24, 24);
    border-radius: 2px;
    margin-top: 10px;
    box-shadow: 0 1px 5px black, 0 1px 10px black, 0 1px 15px black;
}

/* start button style */

#startBtn {
    background-color: rgb(255, 255, 255);
    padding: 10px 60px 10px 60px;
    font-weight: 600;
    box-shadow: 0 1px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

#startBtn:hover {
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
}

/* timer text for game countdown */

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    display: none;
}

/* losing text inside canvas */

#loseText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    display: none;
}

/* gif image with the losing text */

#loseImg {
    height: 50px;
}

/* score card section wrap */

#scoreBoardWrap {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

/* each card that holds the scores */

.scoreCard {
    background-color: black;
    color: white;
    margin: .5rem;
    padding: .5rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0 1px 5px black;
}

/* highscore card title */

#highscoreTitle {
    color: white;
    margin-top: 10px;
    font-weight: 900;
    font-size: 25px;
}

/* inner section wrap of the high score data */

#innerScoreWrap {
    background-color: black;
    height: 3.5rem;
}

/* 1st 2nd 3rd style */

.placeHolder {
    color: white;
    margin-bottom: 0rem;
}

/* div around each player text */

.playerWrap {
    display: flex;
}

/* style of individual list items for each player in the top 7 */

.scoreName {
    font-weight: 700;
    font-size: 17px;
    margin-right: 5px;
    color: white;
}

.score {
    font-weight: 700;
    font-size: 17px;
    color: white;
}

/* modal styling */

.form-title {}

#nameSubmit {
    background-color: rgb(22, 58, 99);
    color: white;
    box-shadow: 0 1px 5px black;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out
}

#nameSubmit:hover {
    color: black;
    background-color: white;
}

#nameSubmit:active {
    transform: translateY(4px);
}

#quitBtn {
    background-color: rgb(116, 0, 0);
    border: none;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 5px black;
    color: rgb(255, 255, 255);
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out
}

#quitBtn:hover {
    background-color: black;
    color: white;
}

#quitBtn:active {
    transform: translateY(4px);
}

#newGameBtn {
    background-color: rgb(22, 58, 99);
    color: white;
    box-shadow: 0 1px 5px black;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out
}

#newGameBtn:hover {
    background-color: white;
    color: black;
}

/* error text for name input */

#message {
    color: red;
}

/* stats button to view player stats for mobile users */

#statsBtn {
    display: none;
    border: 1px solid white;
    background-color: white;
    -webkit-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border .3s ease-in-out;
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

#statsBtn:hover {
    background-color: rgb(195, 195, 195);
    border: 1px solid rgb(195, 195, 195);
    ;
}

/* div wrap over each player */

.allWrap {
    display: flex;
}

/* rendered text for all players */

/* placement number */

.allPlace {
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: .3rem;
}

/* player name */

.allName {
    font-size: 1.3rem;
    font-weight: 200;
    margin-right: .3rem;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 1366px) {
    #highScoreSection {
        display: none;
    }
    /* stats button to view player stats for mobile users */
    #statsBtn {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    /* game wrap */
    #snakeWrap {
        position: relative;
        width: 500px;
        height: 400px;
    }
}

@media only screen and (max-width: 700px) {
    /* score card section wrap */
    #scoreBoardWrap {
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: flex-start;
    }
    .scoreCard {
        margin: 0;
        font-size: .8rem;
    }
}

@media only screen and (max-width: 615px) {
    /* game wrap */
    #snakeWrap {
        position: relative;
        width: 400px;
        height: 300px;
    }
}

@media only screen and (max-width: 534px) {
    /* losing text inside canvas */
    #loseText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        display: none;
    }
    /* gif image with the losing text */
    #loseImg {
        height: 32px;
    }
}
@media only screen and (max-width: 460px) {
    /* game wrap */
    #snakeWrap {
        position: relative;
        width: 300px;
        height: 200px;
    }
}